svg {
  stroke: none !important;
  stroke-width: 0 !important;
  outline: none !important;
}

.auth-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 12.5% auto;
  max-width: 450px;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 5px 40px 0;
  position: relative;
}

.auth-form__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.auth-form__input-box {
  width: 100%;
  padding: 0 1.5rem;
}

.auth-form__input-login,
.auth-form__input-password {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: 2px solid lightslategray;
  outline: none;
  border-radius: 20px;
  font-size: 1rem;
}

.auth-form__input-login {
  margin-bottom: 20px;
}

.auth-form__input-password {
  margin-bottom: 3rem;
}

.auth-form__button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 3rem;
}

.auth--btn {
  width: 70%;
  height: 2.5rem;
  border: none;
  outline: none;
  border-radius: 25px;
  font-weight: 400;
  background-color: rgb(132, 192, 41);
}

.auth-form__button-login {
  margin-bottom: 15px;
}

.auth-form__info {
  margin-bottom: 7px;
}

.auth-form__login-icon {
  position: absolute;
  background-image: url('././../../assets/icons/login-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  width: 24px;
  height: 24px;
  right: 40px;
  margin-top: 9px;
}

.auth-form__password-icon {
  position: absolute;
  background-image: url('././../../assets/icons/icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  width: 24px;
  height: 24px;
  right: 40px;
  margin-top: 9px;
}

.error-message {
  font-size: 0.65rem;
  color: red;
}

// .auth-form__login-icon svg,
// .auth-form__password-icon svg {
//   width: 24px;
// }